TELEGRAM_TOKEN=
TELEGRAM_POLL_TIMEOUT=30s
TELEGRAM_HTTP_TIMEOUT=40s
TELEGRAM_UPDATES_BUFFER=100
TELEGRAM_SYNCHRONOUS=false
TELEGRAM_VERBOSE=false
TELEGRAM_OFFLINE=false


LOGGER_LEVEL=info
LOGGER_FOLDER=out/logs


POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_TIMEOUT=


ADMIN_TG_ID=
ADMIN_FULL_NAME=Главный администратор
